@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
}
